body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body li{
    list-style: none;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 26, 26);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 150px 50px 200px 50px;
    
    width: 400px;
    height: 400px;
    justify-content: space-evenly;
    background-color: rgb(235, 232, 232);
    border-radius: 5px;

}
.logo a{
    font-size: 5rem;
    font-weight: bold;
    color: red;
}
.form{
    
    width:100%;
}
#id{
    width:100%;
    height: 50px;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

#pwd{
    width:100%;
    height: 50px;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
#name{
    width:100%;
    height: 50px;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
#email{
    width:100%;
    height: 50px;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
#phone{
    width:100%;
    height: 50px;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
#submit{
    width:100%;
    height:50px;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 40px;
}



