body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body li {
  list-style: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(27, 26, 26);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 150px 50px;
  height: 400px;
  justify-content: space-evenly;
  background-color: rgb(235, 232, 232);
  border-radius: 5px;
}
.logo a {
  font-size: 5rem;
  font-weight: bold;
  color: red;
}
.form {
  width: 100%;
}
#id {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

#pwd {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

#submit {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.menu_list {
  display: flex;
  font-size: 1rem;
}
.menu_list > li {
  padding: 0 30px;
}
.btn_kakao {
  width: 100%;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgb(252, 224, 0);
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}
.btn_facebook {
  width: 100%;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgb(59, 92, 169);
  color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}
.btn_google {
  width: 100%;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}
.btn_naver {
  width: 100%;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgb(29, 200, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}
.naver_icon {
  font-style: italic;
  font-size: 1.1rem;
  margin-left: 3px;
}

@media screen and (max-width: 540px) {
  .menu_list {
    font-size: 0.8rem;
  }
}

.return {
  color: red;
  font-size: 30px;
  position: absolute;
  right: 530px;
  top: 140px;
}
