.content_wrap_explan {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  margin-top: 240px;
  margin-bottom: 100px;
  background-color: white;
  width: 80%;
  display: inline-block;
}
