.content_wrap_rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  margin-bottom: 100px;
  background-color: white;
  width: 80%;
  display: inline-block;
  border-radius: 3%;
  top:30px;
  position: relative;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 10px 20px;
  border: 1px solid #000;
}
.rank {
  padding: 20px 0px;
}
.tg {
  margin: 10px;
  box-shadow: 4px 4px 5px #000;
}
.tg:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}
