header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  width: 100%;
  position: fixed;
}
.logo {
  margin-left: 20px;
}
.logo a {
  color: red;
  font-size: 25px;
  font-weight: 600;
}
.top_menu {
  display: flex;
}
.top_menu li {
  padding: 0 15px;
}
.top_menu a {
  color: white;
}
